<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://agilezen.com/api/v1"
                binding="webHttpBinding"
                behaviorConfiguration="REST"
                contract="Innovatian.AgileZen.IZenApi"
                name="AgileZenREST" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="REST">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>